.h1 {
  font-size: 3.4rem;
  margin-bottom: 3.2rem;
  text-align: center;
  font-weight: normal;
}
.instr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.instr li {
  display: flex;
  flex-direction: column;
  font-size: 2.6rem;
  align-items: center;
  min-width: 300px;
}
.instr li span {
  margin-bottom: 30px;
}

/* ------------------- Players Section ----------------- */

.players {
  padding: 70px 0;
}
.players_group {
  /* border: 1px solid teal; */
  display: flex;
  flex-wrap: wrap;
}
.players_group > * {
  flex: 1;
  /* border: 1px solid red; */
}
.player {
  flex: 1;
  margin-right: 20px;
}

.player_label {
  font-size: 1.8rem;
  display: block;
  margin-bottom: 10px;
}
.player_form {
  border: 1px solid black;
  max-width: 500px;
}
.player_input {
  /* border: 1px solid red; */
  display: flex;
}
.player_input input {
  display: inline-block;
  border: 1px solid #ddd;
  padding: 15px 16px;
  flex: 1;
}
.btn {
  padding: 0 24px;
  border: 1px solid #ddd;
  margin-left: 10px;
}

.btn:disabled {
  background: none;
  color: #ddd;
  border: none;
}
.dark_btn {
  background-color: rgba(0, 0, 0);
  color: white;
}

/* --------------------- Profile ----------------- */
.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-right: 20px;
}

.profile_desc {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
}
.profile_desc img {
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 15px;
  border: none;
  font-size: 2.5rem;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-weight: bolder;
}

.btn_dark {
  display: block;
  font-size: 1.8rem;
  margin: 50px auto 0 auto;
  border: none;
  padding: 10px 30px;
  background-color: black;
  color: white;
  border-radius: 4px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
