.center {
  text-align: center;
}

.h1 {
  font-size: 3.4rem;
  margin-bottom: 15px;
}

.h2 {
  font-size: 2.4rem;
  font-weight: bolder;
  margin-bottom: 15px;
}
.h2 a {
  color: red;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px;
}
.wrapper > * {
  min-width: 300px;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.img {
  margin-bottom: 10px;
}
.img img {
  display: inline-block;
  height: 150px;
  margin: 0 auto;
}

.repo__desc {
  padding-left: 20px;
  font-size: 1.8rem;
}

.repo__desc li {
  margin-bottom: 10px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
